{% extends 'base.html.twig' %}

{% block title %}Edit Beer{% endblock %}

{% block body %}

    <h1>Edit Beer</h1>

    <p>{% include 'beer/_form.html.twig' with {'form': form, 'button_label': 'Edit'} only %}</p>

    <p>{% include 'beer/_delete_form.html.twig' with {'identifier': beer.id} only %}</p>

{% endblock %}