{% extends 'base.html.twig' %}

{% block title %}New Beer{% endblock %}

{% block body %}

    <h1>Craft A New Beer</h1>

    {% include 'beer/_form.html.twig' with {'form': form} only %}

{% endblock %}