{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

    <h1>Create new Product</h1>

    <form action="/beer/processNewForm" method="POST">

        Beer Name:
        <input type="text" name="title">

        <p>

        Description:
        <input type="text" name="desc">

    </form>

{% endblock %}