{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <h1>Create, Read, Update, Delete:</h1>

        <ul>
            <li>
            <a href="{{ path('beer_index') }}">Products</a>
            </li>
        </ul>

    </div>
{% endblock %}