{% extends 'base.html.twig' %}


{% block body %}
    <h1 align="center" style="color:red">ACCESS DENIED</h1>
    <h3 align="center">You do not have the right permissions to view this page!</h3>
{% endblock %}