{% extends 'base.html.twig' %}


{% block body %}
    ACCESS DENIED - You do not have the right permissions to view this page!
    <p>
        <a href="{{ url('homepage') }}">Home</a>
    </p>
{% endblock %}